<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jakub Iwanowski</title>
    <meta name="description" content="The Digital Garden of Jakub Iwanowski">
    <link rel="stylesheet" href="/assets/css/global.css">
      <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="canonical" href="https://jakubiwanowski.dev/">
    <link rel="me" href="https://fosstodon.org/@dzajew">
</head>
<body>
    {% include '_navigation.njk' %}
<div class="squares">
  	
  </div>

    <main>
		        <section class="intro">
             <div class="container">
            <h1>Hi, I'm Jakub Iwanowski</h1>
            <p class="intro__p">I'm a frontend developer based in Poland. I do stuff. I like HTML, CSS, JS
            and pizza.
            </p>
            </div>
        </section>
        <section class="latest">
            <div class="container flow">
            <h2 class="latest__title">
    Recently planted
            </h2>
            <ul class="post__list">
                {%- for plant in collections.plants | reverse -%}
  {% if (loop.index <= 3) %}
                            <li
                                class="post__list__el"
                            >
                                <div class="post__date">
                                    {{plant.data.dateDisplay}}
                                </div>
              <h3>
                                <a href="{{plant.url}}">{{plant.data.title}}</a>
              </h3>
                               {{plant.data.excerpt}}
                            </li>
                    {% endif %}
                {%- endfor -%}
            </ul>
            </div>
        </section>
    </main>
    
</body>
</html>
