<footer class="footer">
<div class="container">  
<p class="footer__heading">
Miscellaneous
</p>
<nav>
<ul class="footer__nav-list">
<li>
<a href="/stages" class="contrast-link footer__link">
Stages
</a>
</li>
</ul>
</nav>
</div>
</footer>    
