<header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="nav__list">
  {%- for nav in navigation -%} 
          {% set regExp = r/\b(garden)\b/i %}
  <li class="nav__list__el">
    <a href="{{ nav.href }}" class="contrast-link header__link {% if page.url == nav.href or (regExp.test(page.url) === true and nav.href === '/garden/') %}active{% endif %}">{{ nav.label }}</a>
  </li>  
  {%- endfor -%}  
        </ul>
      </nav>
    </div>
</header>
