<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta.title}}</title>
    <meta name="description" content="{{meta.description}}">
    <link rel="stylesheet" href="/assets/css/global.css">
      <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="canonical" href="https://jakubiwanowski.dev{{page.url}}">
    <link rel="me" href="https://fosstodon.org/@dzajew">
    {% if highlighter %}
        <link href="/assets/css/highlight/gruvbox-light.css" rel="stylesheet">
        {% endif %}
</head>
<body>
    {% include '_navigation.njk' %}
    <main>
       <div class="post-content container">
        <div class="post__date">
  {{dateDisplay}}
</div>
        {{content | safe}}
       </div>
    </main>
    
</body>
</html>
