.header {
  padding: 32px 0;
  background-color: hsl(287.1, 81.4%, 16.9%);
}
.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
}
.nav__list__link {
  color: var(--background-color);
  font-size: var(--font-1);
  padding: 0.5em 0.7em;
  text-decoration-color: var(--background-color);
  &:hover {
    background-color: var(--nav-hover-color);
    outline: 0.15em dotted var(--background-color);
  }

  &.active {
    background-color: var(--nav-hover-color);
    outline: 0.15em dotted var(--background-color);
  }
}
