.header {
  padding: 32px 0;
  background-color: hsl(287.1, 81.4%, 16.9%);
}
.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
}
.header__link {
  font-size: var(--font-1);
}
