@import "variables";
@import "reset";
@import "header";
@import "footer";
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"),
    url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url(../fonts/figtree-regular-webfont.woff2) format("woff2"),
    url(../fonts/figtree-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  padding: 2em 0;
}
h1,
h2,
h3 {
  font-family: "Space Mono", sans-serif;
}
h1 {
  font-size: var(--font-4);
  margin-bottom: 0.5em;
}
h2 {
  font-size: var(--font-3);
}
h3 {
  font-size: var(--font-2);
  line-height: 2;
}
p {
  font-size: var(--font-1);
  line-height: 2;
}
ul,
ol {
  list-style-position: inside;
  font-size: var(--font-1);
}
a {
  padding: 0.2em 0;
  color: var(--link-color);
  overflow: hidden;
  &:focus {
    outline: 0.15em dotted var(--link-focus);
  }
  &:hover {
    outline: 0.15em dotted var(--link-focus);
  }
}
.contrast-link {
  color: var(--background-color);
  padding: 0.5em 0.7em;
  text-decoration-color: var(--background-color);
  &:hover {
    background-color: var(--nav-hover-color);
    outline: 0.15em dotted var(--background-color);
  }

  &.active {
    background-color: var(--nav-hover-color);
    outline: 0.15em dotted var(--background-color);
  }
}
.container {
  max-width: 56.25em;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.intro {
  margin-bottom: 2em;
}
.intro__p {
  font-size: clamp(1.5em, 3vw, 1.8em);
}
.post__list {
  list-style: none;
}
.post__list__el {
  padding: 1em;
  border: 3px solid var(--nav-hover-color);
  a {
    font-weight: 700;
    display: block;
  }
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
.post__date {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}
.flow {
  & > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
  :is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }

  :is(h1, h2, h3) + * {
    --flow-space: 0.5em;
  }
}
.stage {
  font-size: var(--font-1);
}
.post-content {
  .post__date {
    font-size: 1.5em;
  }
  & > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
  :is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }

  :is(h1, h2, h3) + * {
    --flow-space: 0.5em;
  }
  h1 {
    margin-block-start: 0.5em;
    &:after {
      content: "";
      width: 100%;
      height: 0.06em;
      background-color: var(--nav-hover-color);
      display: block;
      margin-block-start: 0.5em;
    }
  }
  ul {
    line-height: 2;
    list-style-position: outside;
    padding-inline-start: 2ch;
  }
}
.squares {
  flex-shrink: 0;
  --size: 2.5rem;
  --color1: #31c9c6;
  --color2: #fcbb30;
  --color3: #eb3f67;
  --color4: #8545d8;
  --color5: #0f9ce2;
  --color6: 31c9c6;
  --color7: 31c9c6;
  --color8: 31c9c6;
  height: calc(2 * var(--size));
  width: 100%;
  background: linear-gradient(
      90deg,
      var(--color1) 0%,
      var(--color1) 12.5%,
      var(--color2) 12.5%,
      var(--color2) 25%,
      var(--color3) 25%,
      var(--color3) 37.5%,
      var(--color4) 37.5%,
      var(--color4) 50%,
      var(--color5) 50%,
      var(--color5) 62.5%,
      var(--color1) 62.5%,
      var(--color1) 75%,
      var(--color2) 75%,
      var(--color2) 87.5%,
      var(--color3) 87.5%,
      var(--color3) 100%
    ),
    linear-gradient(
      90deg,
      var(--color4) 0%,
      var(--color4) 12.5%,
      var(--color3) 12.5%,
      var(--color3) 25%,
      var(--color5) 25%,
      var(--color5) 37.5%,
      var(--color1) 37.5%,
      var(--color1) 50%,
      var(--color2) 50%,
      var(--color2) 62.5%,
      var(--color3) 62.5%,
      var(--color3) 75%,
      var(--color4) 75%,
      var(--color4) 87.5%,
      var(--color5) 87.5%,
      var(--color5) 100%
    );
  background-size: calc(var(--size) * 8) var(--size),
    calc(var(--size) * 8) var(--size);
  background-repeat: repeat no-repeat;
  background-position: 0 0, 0 var(--size);
}
