<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jakubiwanowski.dev</title>
    <meta name="description" content="Blog of a frontend developer, Jakub Iwanowski">
    <link rel="stylesheet" href="/assets/css/global.css">
      <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    <link rel="canonical" href="https://jakubiwanowski.dev/blog">
    <link rel="me" href="https://fosstodon.org/@dzajew">
</head>
<body>
    {% include '_navigation.njk' %}
    <main>
        <section class="intro">
             <div class="container">
            <h1>Posts</h1>
            <ul class="post__list">
                {%- for post in collections.posts | reverse -%}
                            <li
                                class="post__list__el"
                            >
                                <div class="post__date">
                                    {{post.data.dateDisplay}}
                                </div>
                                <a href="{{post.url}}">{{post.data.title}}</a>
                               {{post.data.excerpt}}
                            </li>

                {%- endfor -%}
            </ul>
            </div>
        </section>
    </main>
    
</body>
</html>